.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#header-section {
    font-size: 18px;
}

.navbar {
    background-color: #9AC8CD;
}

.profile {
    background-color: #E1F7F5;
}

.education {
    background-color: #E1F7F5;
}

.experience {
    background-color: #E1F7F5;
}

.skills {
    background-color: #E1F7F5;
}

.achievements {
    background-color: #E1F7F5;
}

.hobby {
    background-color: #E1F7F5;
}

.contact {
    background-color: #E1F7F5;
}

#footer-section {
    background-color: #9AC8CD;
}

.course {
    font-size: 25px;
    font-weight: bold;
}

.exp-head {
    font-size: 25px;
    font-weight: bold;
}

.achievements-head {
    font-size: 25px;
    font-weight: bold;
}